/* 
758E81
67C494
3F775A
A2C4B2
244433
C4645E red
*/
* {
  transition: all .3s ease;
}
html {
  
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  background: #244433;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  box-shadow: 0px 0px 5px #444;
}
header h1 {
  color: white;
  position: relative;
  left: 50%;
  margin-left: -35%;
  margin-top: -4px;
}
header a {
  color: white;
}
header a:hover {
  text-shadow: 0px 0px 18px #A2C4B2;
}
header ul {
  position: absolute;
  top: 20px;
  right: 50%;
  margin: 0px;
  margin-right: -35%;
}
header li {
  display: inline;
  padding-right: 18px;
  padding-left: 18px;
  border-left: 1px solid white;
}
header li:first-of-type {
  border: none;
}
nav {
  
}
body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  background: #fcf9ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rock Salt', cursive;
  font-weight: 500;
  color: #222;
}

form {
  
}
input, select {
  display: inline;
  border-radius: 5px;
  border: 1px solid #777;
  min-width: 200px;
  margin: 10px;
  padding: 8px 5px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.container {
  background: white;
  padding: 10px;
  padding-top: 80px;
  width: 67%;
  min-height: 400px;
  margin: 0 auto;
  box-shadow: 0px 0px 4px #333;
}

.button {
  color: white;
  background: #3F775A;
  border: 1px solid #A2C4B2;
  border-radius: 8px;
  box-shadow: 1px 2px 0px #244433;
  height: 40px;
  font-weight: 500;
  font-size: 28px;
  margin: 10px auto;
  padding: 15px 10px;
  text-align: center;
}

.button-small {
  color: white;
  background: #3F775A;
  border: 2px solid #A2C4B2;
  border-radius: 5px;
  box-shadow: 1px 2px 0px #244433;
  min-height: 26px;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
}
.button-small:hover {
  border-color: #67C494;
  background: #244433;
}

/* COLORS */

.pale-green {
  background: #758E81;
}
.bright-green {
  background: #67C494;
}
.green {
  background: #3F775A
}
.light-green {
  background: #A2C4B2
}
.dark-green {
  background: #244433
}
.red {
  background: #C4645E
}
