<h3 class="list-title">Paycheck List</h3>
<ul class="list">
  <% @paychecks.each do |paycheck| %>
  <li class="list-row"><a href="/paycheck/<%= paycheck.id %>"><%= paycheck.period_start %></a> <%= paycheck.employee.list_name %></li>
  <% end %>
</ul>
<hr>
<div class="text-right">
  <div class="collapsible-header button-small"><b>+</b> New Paycheck</div>
  <div class="collapsible-box hidden">
    <%= erb :'paycheck/_form', locals: { paycheck: @paycheck } %>
  </div>
</div>