<h3 class="list-title">Company List</h3>
<ul class="list">
  <% @companies.each do |company| %>
  <li class="list-row"><a href="/company/<%= company.id %>"><%= company.name %></a></li>
  <% end %>
</ul>
<hr>
<div class="text-right">
  <div class="collapsible-header button-small"><b>+</b> New Company</div>
  <div class="collapsible-box hidden">
    <%= erb :'company/_form', locals: { company: @company } %>
  </div>
</div>