<h3 class="list-title">Company List</h3>
<% @companies.each do |company| %>
<div class="list-row"><a href="/company/<%= company.id %>"><%= company.name %></a></div>
<% end %>
<hr>
<div class="text-right">
  <div class="collapsible-header">Create New Company</div>
  <div class="collapsible-box hidden">
    <%= erb :'company/_form', locals: { company: @company } %>
  </div>
</div>