<% if session[:user_id].nil? %>
<a href="/users/new" >Create New Account</a>
<form action="/users/login" method="POST">
  EMAIL: <input type="text" name="email" value="" /><br>
  PASSWORD: <input type="text" name="password" value="" />
  <input type="submit" value="Log In" />
</form>
<% else %>
<a href="/users/logout">LOG OUT</a>
  <h3>Create Company</h3>
  <form action="/company/new" method="POST">
    NAME: <input type="text" name="name" /><br>
    STREET:
      <input type="text" name="street1" value="" /><br>
      <input type="text" name="street2" value="" /><br>
    CITY: <input type="text" name="city" /><br>
    STATE: <input type="text" name="city" /><br>
    ZIP: <input type="text" name="city" /><br>
    <input type="submit" value="Create" />
  </form>
<% end %>